{% extends './base.html.j2' %}
{% block title %}
Pokemon Battle!
{% endblock %}

{% block content %}
    <h1>Congratulations! You have discovered <strong>Pokemon Battle</strong>!</h1>
    
    {# Place Pokemon Title Icon Here! - specified in html #}
    
    <h5>Catch and Battle Pokemon</h5>
    You wanna be the very best like Ash? Now, you can!

    {# Place Login Button Icon Here! #}
    <button type="submit" class="btn btn-primary"><i class="bi bi-send-check-fill"></i>Let's Go!</button>

{% endblock %}