{% extends './base.html.j2' %}
{% block title %}
Pokemon!
{# Pokemon Battle Arena? -- not sure what this will exactly be, yet.  #}
{% endblock %}

{% block css %}
<link rel='stylesheet' href="../static/css/students.css">
{% endblock %}

   {% block content %}
    <h1>Pokemon!</h1>
    <ul>
        {# Thinking about using this to highlight each person's best Pokemon. So, I'm keeping the structure. #}
        {# {% for poke in pokemon %}
        {% if poke == '' %}
        <li>{{ poke | title }} </li>
        {% else %} #}
         <li>{{ poke | title }}</li>
        {# {% endif %}
        {% endfor %} #}
    </ul>
    {% endblock %}