{% extends './base.html.j2' %}
{% block title %}
Pokedex
{% endblock %}

{% block css %}
<link rel='stylesheet' href="../static/css/main.css">
{% endblock %}

   pip install -r requirements.txt
    <h1>Pokemon!</h1>
    <ul>
        {# {% for poke in pokemon %}
        <li>{{ poke | title }} </li>
        {# {% endif %}
        {% endfor %} #}
    </ul>
    {% endblock %}