{# get & display My Pokemon page #}

{% extends './base.html.j2' %}

{% block title %}
    {{current_user.first_name}}'s Pokedex
{% endblock %}

{% block content %}
    <h1>My Pokedex</h1>
    <hr>
    {% for post in posts %}
        {% include './includes/_post.html.j2' %}
    {% endfor %}
{% endblock %}